<div class="fundo">

<div class="container">
            
    <div id="menu">   
    <a href="loja.html">Loja</a>  
    <a href="contato.html">Contato</a>
    <a href="jogos.html">Jogos</a>
    <a  id="entrar" href="Entrar.html">Entrar</a>
    </div>
</div>

    <div class="alerta1">
        <h2>JACK TE CONVIDA</h2>
    </div>
    
    <div class="alerta2">
        <h2>PARA CONHECER O SITE</h2>
    </div>
    
    <div class="alerta3">
         <h2>DO BASQUETE UNIFACISA</h2>
    </div>
    
    <div class="imagem">
        <img src="/assets/Imagens/jackAlerta.svg">
    </div>

    <div class="img">
        <img src="/assets/Imagens/basqueteLOGO.png">
    </div>

    <div class="formulario">
    <form class="form-control">
        <label>Nome:</label>
        <input type="text" placeholder="Digite o seu Nome aqui" class="form-control">
        <label>Email:</label>
            <input type="email" placeholder="Coloque o seu Email" class="form-control">
         <label>CPF:</label>        
            <input  type="text" placeholder="Coloque o seu CPF" class="form-control">
         <label>Senha:</label>        
             <input  type="password" name="senha" placeholder="Digite a sua senha:" class="form-control">
        <label>Repita a senha:</label>        
            <input type="password" name="repetir" placeholder="Digite a sua senha novamente" class="form-control">
            

    </form>
    <button type="submit">Enviar</button>

    </div>
</div>