<div class="fundo">

    <div class="container">
                
        <div id="menu">   
            <a href="loja.html">Loja</a>  
            <a href="contato.html">Contato</a>
            <a href="jogos.html">Jogos</a>
            <a  id="sair" href="sair.html">Sair</a>
        </div>
    </div>
    
    <div class="fundo2">
        <div class="produtos">
            <div class="imagem1">
                <img class="imagem1" src="/assets/Imagens/blusaBranca3.svg">
                <div class="preco">
                    <h2>R$ 40,00 </h2>
                    <div class="carrinho">
                        <img class="carrinho" src="/assets/Imagens/carrinhoBranco.svg">
                    </div>
                </div>
            </div>
        </div>

    </div>
        
</div>
